/* You can add global styles to this file, and also import other style files */
@import '~bootstrap-icons/font/bootstrap-icons.css';


.nav-link.active {
    background-color: #007bff;
    /* Color de fondo cuando está activo */
    color: #ffffff;
    /* Color del texto cuando está activo */
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
